<h1>Amigos</h1>

<div class="row">


  <div class="leftcolumn">
    <div class="card">
      <form class="" method="post" action="/users/searchfriends">
        <input type="text" placeholder="Nombre.." name="search"><span>
        <button type="submit" name="submit" class="search-button">Buscar</button>
      </form>
    </div>
  </div>


  <div class="centercolumn" >
    <div class="card">
      <h2>Tus amigos:</h2>
      <br>
      {{#if searchedUser}}
        <p>Usuario encontrado:</p>
        <br>
        <a href="/users/gotofriend">{{searchedUser.nombre}} {{searchedUser.apellido}}</a>
      {{/if}}
    </div>


  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Ads</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Aqui tu anuncio.</p>
    </div>
    <div class="card">
      <h3>Ads</h3>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
    </div>
  </div>
</div>
