
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <img src="../../{{user.profileimage}}" height="220" width="220" alt="Es tu imagen no me mires"><br>
      <p>{{user.nombre}} {{user.apellido}}</p>
      <a href="/users/editprofile">editar informacion</a>
    </div>
  </div>
  <div class="centercolumn" >
    <div class="card">
      <h2>Bienvenido: {{user.username}}</h2>
      <h5>sdsd</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Mucho tenis</p>
    </div>

  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Ads</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Aqui tu anuncio.</p>
    </div>
    <div class="card">
      <h3>Ads</h3>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
    </div>
  </div>
</div>
