<!-- The Modal -->
<div>
  <!-- Modal Content -->
  <form class="modal-content" method="post" action="/users/login"><!-- enctype='text/plain'>-->

    <div class="container">
      <label for="username"><b>Usuario</b></label>
      <input type="text" placeholder="Usuario" name="username" required>

      <label for="password"><b>Contrase&ntilde;a</b></label>
      <input type="password" placeholder="Contrase&ntilde;a" name="password" required>

      <button class="loginbtn" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Recordarme
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <span class="psw">&#191;Olvidaste la <a href="#">contrase&ntilde;a?</a></span>
    </div>
  </form>
</div>
